<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Testsystem-Generator</label>
    <label lang="en">Testsystem-Generator</label>
    <version>1.0.6</version>
    <copyright>(c) by Blauband GmbH</copyright>
    <license>proprietary</license>
    <link>http://www.blauband.com</link>
    <author>Blauband</author>

    <compatibility minVersion="5.2.1" />

    <changelog version="1.0.6">
        <changes lang="de">Bugfix: Problem mit bestimmten Sonderzeichen im Shopname behoben</changes>
        <changes lang="en">Bugfix: Fixed a problem with some specialcharacter in shopname</changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de">Bugfix: Problem von fehlerhaften URLs bei mehrsprachigen Shops behoben</changes>
        <changes lang="en">Bugfix: Fixed a problem who lead to wrong URLs by multi languages shops</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>