<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>BlaubandOneClickSystem</name>
            <label lang="en">1-Click System</label>
            <label lang="de">1-Klick System</label>
            <controller>BlaubandOneClickSystem</controller>
            <action>index</action>
            <class>sprite-application-block</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("BlaubandOneClickSystem", { "title": "Test-System-Generator (TSG)"})</onclick>
        </entry>
    </entries>
</menu>