/*{literal}*/

html {
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: #1d5987;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#action-field {
    margin-bottom: 75px;
    overflow: hidden;
}

#create-button {
    width:100%;
    margin: 10px 0;
}

.delete-button-wrapper {
    display: block;
    float: left;
    width: 100%;
    margin-top: 20px;
}

#show-options-button {
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 10px;
}

#options-form label {
    width: 25%;
    display: inline-block
}

.two-cols {
    float: left;
    width: 49%;
}

.three-cols {
    float: left;
    width: 33%;
}

.three-cols label {
    width: 40%;
}

#one-click-system .alerts .ui-state-highlight,
#one-click-system .alerts .ui-state-error {
    padding: 10px;
    display: none;
}

#one-click-system .alerts .ui-state-highlight .ui-icon,
#one-click-system .alerts .ui-state-error .ui-icon{
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}

/* Jquery UI Anpassungen */
.ui-widget {
    font-size: 12px;
}

/*{/literal}*/